.container {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  overflow-x: auto;
}

.tableWrapper {
  width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}