.container {
  width: 100%;
  height: 100%;
}

.tableWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}